<mat-card class="cardTable mat-elevation-z3">
    <mat-card-title class="title"> Versão 2 Utilizando Json</mat-card-title>
  </mat-card>

  <button mat-raised-button routerLink="/tabelacreate" class="cadastrar" color="primary">
    Cadastrar Animal
  </button>
  
  <button mat-raised-button class="cardFiltro" color="primary" (click)="this.open()">{{this.isOpen ? "-" : "+" }} Filtrar Animal </button>
  
  <!-- FILTRAR PELO FRONT -->
  <mat-form-field  *ngIf="this.isOpen" class="formfiltro">
    <mat-card  class="cardTable2 mat-elevation-z3">
      <mat-card-title class="title"> Um dia Rola um filtro kkkkk </mat-card-title>
    </mat-card>
      <!-- <mat-label class="label">Filtrar</mat-label> -->
      <!-- <input matInput (keyup)="filter($event)" placeholder="Ex: Gato" #input> -->
  </mat-form-field>
