.dashboard {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  .title {
    font-family: "Sansita Swashed";
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10;
}
